.bgImagess {
  background-image: url("/src/assets/pixle.jpg");

  height: 30vh;
}

apple {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 100px;
  left: o;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  transition: 0.5s;
}
