.bgImagess {
  margin-top: 20px;
  background-repeat: no-repeat;
  height: 100vh;
  /* background: local; */
  background-position-x: center;
  background-image: url("/src/assets/pixle.jpg");

  /* background-color: blueviolet; */
}
