/* .item {
  width: 150px;
  padding: 0 0.8rem.8rem;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.item img {
  margin: -3.5rem;
  height: 130px;
  object-fit: contain;
} */
